#particles-js{
	background: url(imagenes/f1.jpg);
	background-position: center;
	background-attachment: contain;
	background-size: cover;
}
.ancho-letras{
	top: 200px;
	position: absolute;
	width: 100%;
	text-align: center;
	z-index: 1;
}
.letras-slider{
	width: 80%;
	margin: auto;
}
.letras-slider h1{
	color: #fff;
	font-family: monospace;
	font-size: 40px;
}
.letras-slider p{
	color: #fff;
	font-family: monospace;
	font-size: 20px;
	padding-top: 50px;

}
.submits{

	padding: 10px;
	font-size: 20px;
	margin-left: 15px;
	margin-right: 35px;
	margin-bottom: 35px;
}